body {
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-family: 'Arial', serif;
    padding: 0;
    margin: 0;
    background-color: #4F4F4F;
    width: 100vw;
    height: 100vh;
}

.row {
    margin-left: 0;
    margin-right: 0;
}

body.background {
    background: linear-gradient(0deg, rgba(143, 143, 143, 1) 0%, rgba(205, 205, 205, 1) 40%, rgba(240, 240, 240, 1) 100%);
    background-size: cover;
    background-repeat: no-repeat;
}

.logo img {
    width: 210px;
    height: 60px;
    position: static;
    left: 50px;
    top: 50px;
}

/* From uiverse.io by @alexmaracinaru */
.cta {
    margin-top: 20px;
    border: none;
    background: none;
}

.cta span {
    padding-bottom: 7px;
    letter-spacing: 4px;
    font-size: 12px;
    padding-right: 15px;
    text-transform: uppercase;
}

.hover-underline-animation {
    position: relative;
    color: #ffff;
    padding-bottom: 20px;
}

.hover-underline-animation:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1.5px;
    bottom: 0;
    left: 0;
    background-color: #155555;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.cta:hover .hover-underline-animation:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.container {
    display: block;
    width: 50rem;
    height: 30rem;
    margin-left: 50px;
    margin-right: auto;
    background-color: rgba(4, 122, 129, 0.5);
    text-align: justify;
    color: #ffff;
    border-radius: 10px;
}

.card {
    display: block;
    width: 30rem;
    height: 18rem;
    margin-left: 10px;
    margin-right: auto;
    background-color: rgba(4, 122, 129, 0.5);
    text-align: justify;
    color: #ffff;
    border-radius: 10px;
}

#buttons {
    margin-left: 230px;
}

#footer {
    color: #155555;
}

.cardEnviados {
    display: block;
    width: 25rem;
    height: 6rem;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    color: #ffff;
    margin-top: 25px;
}

.cardRecebidos {
    display: block;
    width: 25rem;
    height: 6rem;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    color: #ffff;
    margin-top: -40px;
}

.saldo {
    display: block;
    width: 10rem;
    height: 1.8rem;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    color: #ffff;
    border-radius: 5px;
    margin-top: 3px;
}

.bi-arrow-down-square-fill {
    color: green;
}

.bi-arrow-up-square-fill {
    color: red;
}

.bi-cash-coin {
    color: blue;
}