body {
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-family: 'Arial', serif;
    padding: 0;
    margin: 0;
    background-color: #4F4F4F;
    width: 100vw;
    height: 100vh;
}

.lista_menu {
    list-style: nome;
    padding-left: 0px;
    padding-top: 7px;
}

.lista_menu li {
    display: inline-block;
    margin-left: 15px;
}

.lista_menu li a {
    color: #FFFF;
}